body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80')
    center/cover no-repeat;
  animation: panBG 20s ease-in-out infinite;
}

@keyframes panBG {
  0%, 100% { background-position: 50% 50%; }
  30% { background-position: 20% 70%; }
  60% { background-position: 80% 40%; }
}

.crystal-btn {
    width: 280px;
    height: 120px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    /* backdrop-filter: blur(1px); */
    backdrop-filter: url(#distorsion);
    /* -webkit-backdrop-filter: blur(1px); */
    -webkit-backdrop-filter: url(#distorsion);
    transition: all 0.6s ease;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.crystal-btn span {
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #f5efef;
  opacity: 0.5;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.crystal-btn:hover {
  transform: scale(1);
  cursor: pointer;
}

.crystal-btn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent 70%);
  transform: translateX(-100%);
  transition: transform 1.2s ease;
  
}

.crystal-btn:hover::before {
  transform: translateX(100%);
}